.Contact {
  background-image: linear-gradient(to bottom, #10212b, #204051);
  background: #867360;
  height: 100vh;

  color: #ececec;

  display: flex;
  justify-content: center;
  align-items: center;

  .Contact-Content {
    padding: 0 15px;
    position: relative;

    .Contact-Q {
      display: flex;
      align-items: center;
      font-weight: 300;
      margin-bottom: 25px;
      font-weight: 500;

      i {
        font-size: 10px;
        margin-left: 3px;
        margin-right: 7px;
      }

      h1 {
        font-size: 25px;
        font-weight: 500;
      }
    }

    .Contact-A {
      input {
        margin-left: 30px;
        width: 700px;
        border: none;
        border-bottom: 1px solid #362b20;
        height: 40px;
        background: none;
        color: #ececec;
        font-size: 25px;

        &:focus {
          border-bottom: none;
          outline: none;
        }

        &::placeholder {
          font-size: 28px;
          font-weight: 600;
          color: #362b20;
          font-family: "Exo 2", sans-serif;
        }
      }
    }

    .Contact-S {
      margin-left: 30px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;

      a {
        color: #fff;
        text-decoration: none;
        background: #362b20;
        padding: 10px 15px;
        border-radius: 5px;
        font-weight: 700;
        font-size: 20px;

        &:focus {
          outline: none;
        }

        span {
          font-size: 10px;
          margin-left: 3px;
        }
      }

      p {
        margin-left: 20px;
        font-size: 13px;
      }
    }

    .Content-Multiple {
      margin-left: 30px;
      font-weight: 500;
    }

    .Other-Option {
      margin: 20px 0;
      margin-left: 30px;
      width: 95%;
      border: none;
      border-bottom: 1px solid #362b20;
      height: 40px;
      background: none;
      color: #ececec;
      font-size: 25px;

      &:focus {
        border-bottom: none;
        outline: none;
      }

      &::placeholder {
        font-size: 25px;
        font-weight: 600;
        color: #362b20;
        font-family: "Exo 2", sans-serif;
      }
    }

    .Content-Choices {
      width: 700px;
      display: flex;
      flex-wrap: wrap;
      margin-left: 25px;
      margin-top: 20px;

      .Content-Choice {
        background: #534231;
        color: #fff;
        border: 1px solid #dadada;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(50% - 10px);
        margin: 5px;
        padding: 10px;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        i {
          display: none;
        }

        .Content-Type {
          display: flex;
          align-items: center;

          span {
            border: 1px solid #dadada;
            padding: 3px 6px;
            border-radius: 5px;
            margin-right: 10px;
          }

          p {
            font-size: 20px;
            font-weight: 500;
          }
        }
      }

      .Chosen {
        background: #362b20;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(50% - 10px);
        margin: 5px;
        padding: 10px;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        i {
          display: block;
        }

        .Content-Type {
          display: flex;
          align-items: center;

          span {
            border: 1px solid #dadada;
            padding: 3px 6px;
            border-radius: 5px;
            margin-right: 10px;
            background: #fff;
            color: #362b20;
          }

          p {
            font-size: 20px;
            font-weight: 500;
          }
        }
      }
    }

    .Contact-Warning {
      margin-left: 30px;
      margin-top: 20px;
      font-size: 15px;
      background: #b7472a;
      padding: 5px;
      border-radius: 4px;
      text-align: center;
      position: absolute;
    }
  }

  .Contact-TY {
    padding: 0 25px;
    text-align: center;

    .Contact-Logo {
      font-size: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 35px;
        margin-right: 15px;
      }

      span {
        font-weight: 700;
      }
    }

    h3 {
      margin-top: 25px;
      margin-bottom: 50px;
      max-width: 800px;
      font-size: 23px;
      line-height: 1.4;
      font-weight: 500;
    }

    a {
      background: #362b20;
      color: #fff;
      padding: 15px 35px;
      border-radius: 5px;
      text-decoration: none;
      font-size: 20px;
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: 767px) {
  .Contact {
    .Contact-Content {
      .Contact-A {
        input {
          width: 625px;
        }
      }

      .Content-Choices {
        width: 625px;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .Contact {
    .Contact-Content {
      .Contact-A {
        input {
          width: 525px;
        }
      }

      .Content-Choices {
        width: 525px;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .Contact {
    .Contact-Content {
      .Contact-A {
        input {
          width: 425px;
        }
      }

      .Content-Choices {
        width: 425px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .Contact {
    .Contact-Content {
      .Contact-A {
        input {
          width: 325px;
        }
      }

      .Content-Choices {
        width: 325px;

        .Content-Choice,
        .Chosen {
          width: 100%;
        }
      }

      .Other-Option {
        width: 90%;
      }

      .Contact-Warning {
        font-size: 13px;
      }
    }
  }
}
