.Contact {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#10212b), to(#204051));
  background-image: linear-gradient(to bottom, #10212b, #204051);
  height: 100vh;
  color: #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Contact .Contact-Content {
  padding: 0 15px;
  position: relative;
}

.Contact .Contact-Content .Contact-Q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  margin-bottom: 25px;
  font-weight: 500;
}

.Contact .Contact-Content .Contact-Q i {
  font-size: 10px;
  margin-left: 3px;
  margin-right: 7px;
}

.Contact .Contact-Content .Contact-Q h1 {
  font-size: 25px;
  font-weight: 500;
}

.Contact .Contact-Content .Contact-A input {
  margin-left: 30px;
  width: 700px;
  border: none;
  border-bottom: 1px solid #6f9499;
  height: 40px;
  background: none;
  color: #ececec;
  font-size: 25px;
}

.Contact .Contact-Content .Contact-A input:focus {
  border-bottom: none;
  outline: none;
}

.Contact .Contact-Content .Contact-A input::-webkit-input-placeholder {
  font-size: 28px;
  font-weight: 600;
  color: #6f9499;
  font-family: "Exo 2", sans-serif;
}

.Contact .Contact-Content .Contact-A input:-ms-input-placeholder {
  font-size: 28px;
  font-weight: 600;
  color: #6f9499;
  font-family: "Exo 2", sans-serif;
}

.Contact .Contact-Content .Contact-A input::-ms-input-placeholder {
  font-size: 28px;
  font-weight: 600;
  color: #6f9499;
  font-family: "Exo 2", sans-serif;
}

.Contact .Contact-Content .Contact-A input::placeholder {
  font-size: 28px;
  font-weight: 600;
  color: #6f9499;
  font-family: "Exo 2", sans-serif;
}

.Contact .Contact-Content .Contact-S {
  margin-left: 30px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
}

.Contact .Contact-Content .Contact-S a {
  color: #fff;
  text-decoration: none;
  background: #719194;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
}

.Contact .Contact-Content .Contact-S a:focus {
  outline: none;
}

.Contact .Contact-Content .Contact-S a span {
  font-size: 10px;
  margin-left: 3px;
}

.Contact .Contact-Content .Contact-S p {
  margin-left: 20px;
  font-size: 13px;
}

.Contact .Contact-Content .Content-Multiple {
  margin-left: 30px;
  font-weight: 500;
}

.Contact .Contact-Content .Other-Option {
  margin: 20px 0;
  margin-left: 30px;
  width: 95%;
  border: none;
  border-bottom: 1px solid #6f9499;
  height: 40px;
  background: none;
  color: #ececec;
  font-size: 25px;
}

.Contact .Contact-Content .Other-Option:focus {
  border-bottom: none;
  outline: none;
}

.Contact .Contact-Content .Other-Option::-webkit-input-placeholder {
  font-size: 25px;
  font-weight: 600;
  color: #6f9499;
  font-family: "Exo 2", sans-serif;
}

.Contact .Contact-Content .Other-Option:-ms-input-placeholder {
  font-size: 25px;
  font-weight: 600;
  color: #6f9499;
  font-family: "Exo 2", sans-serif;
}

.Contact .Contact-Content .Other-Option::-ms-input-placeholder {
  font-size: 25px;
  font-weight: 600;
  color: #6f9499;
  font-family: "Exo 2", sans-serif;
}

.Contact .Contact-Content .Other-Option::placeholder {
  font-size: 25px;
  font-weight: 600;
  color: #6f9499;
  font-family: "Exo 2", sans-serif;
}

.Contact .Contact-Content .Content-Choices {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 25px;
  margin-top: 20px;
}

.Contact .Contact-Content .Content-Choices .Content-Choice {
  background: #365869;
  color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(50% - 10px);
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.Contact .Contact-Content .Content-Choices .Content-Choice:focus {
  outline: none;
}

.Contact .Contact-Content .Content-Choices .Content-Choice i {
  display: none;
}

.Contact .Contact-Content .Content-Choices .Content-Choice .Content-Type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Contact .Contact-Content .Content-Choices .Content-Choice .Content-Type span {
  border: 1px solid #dadada;
  padding: 3px 6px;
  border-radius: 5px;
  margin-right: 10px;
}

.Contact .Contact-Content .Content-Choices .Content-Choice .Content-Type p {
  font-size: 20px;
  font-weight: 500;
}

.Contact .Contact-Content .Content-Choices .Chosen {
  background: #47748b;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(50% - 10px);
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.Contact .Contact-Content .Content-Choices .Chosen:focus {
  outline: none;
}

.Contact .Contact-Content .Content-Choices .Chosen i {
  display: block;
}

.Contact .Contact-Content .Content-Choices .Chosen .Content-Type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Contact .Contact-Content .Content-Choices .Chosen .Content-Type span {
  border: 1px solid #dadada;
  padding: 3px 6px;
  border-radius: 5px;
  margin-right: 10px;
  background: #fff;
  color: #295064;
}

.Contact .Contact-Content .Content-Choices .Chosen .Content-Type p {
  font-size: 20px;
  font-weight: 500;
}

.Contact .Contact-Content .Contact-Warning {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 15px;
  background: #900c3f;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
  position: absolute;
}

.Contact .Contact-TY {
  padding: 0 25px;
  text-align: center;
}

.Contact .Contact-TY .Contact-Logo {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Contact .Contact-TY .Contact-Logo i {
  font-size: 35px;
  margin-right: 15px;
}

.Contact .Contact-TY .Contact-Logo span {
  font-weight: 700;
}

.Contact .Contact-TY h3 {
  margin-top: 25px;
  margin-bottom: 50px;
  max-width: 800px;
  font-size: 23px;
  line-height: 1.4;
  font-weight: 500;
}

.Contact .Contact-TY a {
  background: #719194;
  color: #fff;
  padding: 15px 35px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .Contact .Contact-Content .Contact-A input {
    width: 625px;
  }
  .Contact .Contact-Content .Content-Choices {
    width: 625px;
  }
}

@media only screen and (max-width: 650px) {
  .Contact .Contact-Content .Contact-A input {
    width: 525px;
  }
  .Contact .Contact-Content .Content-Choices {
    width: 525px;
  }
}

@media only screen and (max-width: 550px) {
  .Contact .Contact-Content .Contact-A input {
    width: 425px;
  }
  .Contact .Contact-Content .Content-Choices {
    width: 425px;
  }
}

@media only screen and (max-width: 450px) {
  .Contact .Contact-Content .Contact-A input {
    width: 325px;
  }
  .Contact .Contact-Content .Content-Choices {
    width: 325px;
  }
  .Contact .Contact-Content .Content-Choices .Content-Choice,
  .Contact .Contact-Content .Content-Choices .Chosen {
    width: 100%;
  }
  .Contact .Contact-Content .Other-Option {
    width: 90%;
  }
  .Contact .Contact-Content .Contact-Warning {
    font-size: 13px;
  }
}
/*# sourceMappingURL=Contact.css.map */