.Watch-Container {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 3px 3px 6px black;
          box-shadow: 3px 3px 3px 6px black;
  padding: 75px 0;
}

.Watch-Container .Watch-Top {
  width: 100%;
  max-width: 1250px;
  padding: 40px;
  text-transform: uppercase;
}

.Watch-Container .Watch-Top h1 {
  font-size: 30px;
  margin-bottom: 15px;
  color: #523f2c;
}

.Watch-Container .Watch-Top p {
  margin-left: 5px;
  margin-top: 10px;
  color: #867360;
  font-size: 18px;
  font-weight: 600;
}

.Watch-Container .Watch-Top button {
  border: none;
  background: none;
  padding: 15px 30px;
  border-radius: 5px;
  margin: 5px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
  font-family: "Exo 2", sans-serif;
  color: #523f2c;
}

.Watch-Container .Watch-Top button:focus {
  outline: none;
}

.Watch-Container .Watch-Top button:hover {
  background: #867360;
  color: #fff;
  font-weight: 600;
}

.Watch-Container .Watch-Top .Current {
  border: none;
  background: #867360;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  margin: 5px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
  font-family: "Exo 2", sans-serif;
}

.Watch-Container .Watch-Bottom .show {
  display: block;
}

.Watch-Container .Watch-Bottom .hidden {
  display: none;
}

.Watch-Container .Watch-Bottom .Watches {
  width: 100%;
  max-width: 1250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  margin: auto;
}

.Watch-Container .Watch-Bottom .Watches .Watch {
  width: 25%;
  height: auto;
  position: relative;
}

.Watch-Container .Watch-Bottom .Watches .Watch:hover .Inner-Bg {
  background: #867360;
  height: 100%;
  opacity: 0.85;
}

.Watch-Container .Watch-Bottom .Watches .Watch:hover .Inner-Bg span {
  display: block;
}

.Watch-Container .Watch-Bottom .Watches .Watch:hover .Image-Container img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.Watch-Container .Watch-Bottom .Watches .Watch .Extra-Padding {
  padding: 45px 0;
}

.Watch-Container .Watch-Bottom .Watches .Watch .Image-Container {
  background: white;
  opacity: 0.92;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.Watch-Container .Watch-Bottom .Watches .Watch .Image-Container img {
  width: 90%;
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
  padding: 8%;
}

.Watch-Container .Watch-Bottom .Watches .Watch .Image-Container .No-Padding {
  padding: 0%;
}

.Watch-Container .Watch-Bottom .Watches .Watch .Image-Container .Avg-Padding {
  padding: 12%;
}

.Watch-Container .Watch-Bottom .Watches .Watch .Image-Container .More-Padding {
  padding: 15%;
}

.Watch-Container .Watch-Bottom .Watches .Watch .Inner-Bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  -webkit-transition: 0.6s ease-in-out all;
  transition: 0.6s ease-in-out all;
}

.Watch-Container .Watch-Bottom .Watches .Watch .Inner-Bg span {
  color: #fff;
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px;
}

@media only screen and (max-width: 1200px) {
  .Watch-Container .Watch-Bottom .Watches .Watch {
    width: 33.3333333%;
  }
}

@media only screen and (max-width: 1000px) {
  .Watch-Container .Watch-Bottom .Watches .Watch .Inner-Bg span {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .Watch-Container .Watch-Bottom .Watches .Watch {
    width: 50%;
  }
}

@media only screen and (max-width: 550px) {
  .Watch-Container {
    padding: 40px 0;
  }
  .Watch-Container .Watch-Top h1 {
    font-size: 28px;
  }
  .Watch-Container .Watch-Top p {
    font-size: 15px;
  }
  .Watch-Container .Watch-Top button,
  .Watch-Container .Watch-Top .Current {
    font-size: 14px;
    padding: 15px;
  }
  .Watch-Container .Watch-Bottom .Watches .Watch .Inner-Bg span {
    font-size: 18px;
  }
}

@media only screen and (max-width: 450px) {
  .Watch-Container .Watch-Top h1 {
    font-size: 25px;
  }
  .Watch-Container .Watch-Top p {
    font-size: 15px;
  }
  .Watch-Container .Watch-Top button,
  .Watch-Container .Watch-Top .Current {
    font-size: 13px;
    padding: 10px;
  }
}

@media only screen and (max-width: 375px) {
  .Watch-Container .Watch-Top {
    padding: 15px;
  }
}
/*# sourceMappingURL=Watch.css.map */