// HOMEPAGE COMPONENT
.Homepage {
  // NAV COMPONENT
  nav {
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    left: 25px;
    top: 25px;

    a {
      color: #fff;
      text-decoration: none;

      &:focus {
        outline: none;
      }

      i {
        font-size: 20px;
      }
    }
  }

  // MAIN COMPONENT
  .Main {
    min-height: 100vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../../../src/images/main.jpg");

    box-shadow: 2px 2px 2px 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .Main-Content {
      padding: 10px 35px;
      h1,
      p {
        color: #ececec;
        letter-spacing: 1px;
      }

      h1 {
        font-size: 80px;
        margin-bottom: 15px;
      }

      p {
        font-size: 20px;
        max-width: 1150px;
        line-height: 1.4;
      }
    }
  }

  // GETINTOUCH COMPONENT
  .GetInTouch,
  .GetInTouch2 {
    background: #867360;
    height: auto;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 110px 30px;
    box-shadow: 3px 3px 3px 6px grey;

    .GetInTouch-Content {
      h3 {
        font-weight: 600;
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 1.4;
        margin-bottom: 40px;
        max-width: 950px;
      }

      a {
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        background: #252525;
        border: none;
        border-radius: 4px;
        padding: 17px 50px;
        color: #fff;
        transition: 0.4s ease-in-out all;
        position: relative;

        &:focus {
          outline: none;
        }

        &:hover {
          background: #fff;
          color: #252525;
        }

        &:hover:after {
          width: 45%;
          left: 55%;
        }

        &:after {
          content: "";
          position: absolute;
          height: 1px;
          width: 0;
          top: 50%;
          left: 0;
          border-top: 2px solid #252525;
          transform: translateY(-50%);
          transition: 0.4s ease-in-out all;
        }
      }
    }
  }

  .GetInTouch2 {
    background: #1d1d1d;
    box-shadow: none;
    padding-top: 50px;

    .GetInTouch-Content {
      h3 {
        color: #c5a98e;
      }

      a {
        background: #dadada;
        color: #1d1d1d;
      }
    }
  }

  // SERVICE COMPONENT
  .Service {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("../../../src/images/watches1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    box-shadow: 3px 3px 3px 6px black;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;

    .Service-Inner {
      width: 100%;
      max-width: 1250px;
      padding: 15px;

      h1 {
        color: #dadada;
        text-transform: uppercase;
        margin-bottom: 45px;
        font-size: 30px;
        padding: 25px;
      }

      .Service-Contents {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .Service-Content {
          width: calc(33.3333% - 10px);
          margin: 5px;
          padding: 25px;

          color: #dadada;
          text-align: center;

          i {
            color: #c5a98e;
            font-size: 50px;
            margin: 15px 0;
          }

          h6 {
            color: #c5a98e;
            font-size: 20px;
            margin: 15px 0;
          }

          p {
            font-size: 15px;
            font-weight: 400;
            line-height: 1.3;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 925px) {
  .Homepage {
    .Main {
      .Main-Content {
        h1 {
          font-size: 65px;
        }

        p {
          font-size: 17px;
        }
      }
    }

    .Service {
      .Service-Inner {
        .Service-Contents {
          .Service-Content {
            width: calc(50% - 10px);

            i {
              font-size: 55px;
            }

            h6 {
              font-size: 18px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 710px) {
  .Homepage {
    .Main {
      .Main-Content {
        h1 {
          font-size: 45px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .Homepage {
    .Main {
      .Main-Content {
        h1 {
          font-size: 40px;
        }

        p {
          font-size: 15.5px;
        }
      }
    }

    .GetInTouch {
      .GetInTouch-Content {
        h3 {
          font-size: 22px;
        }

        a {
          font-size: 16.5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .Homepage {
    .Main {
      .Main-Content {
        h1 {
          font-size: 32px;
        }

        p {
          font-size: 14px;
        }
      }
    }

    .Service {
      .Service-Inner {
        h1 {
          font-size: 25px;
        }

        .Service-Contents {
          .Service-Content {
            padding: 15px;

            i {
              font-size: 50px;
            }

            h6 {
              font-size: 17.5px;
            }

            p {
              font-size: 13.5px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .Homepage {
    .Service {
      .Service-Inner {
        padding: 5px;

        .Service-Contents {
          .Service-Content {
            padding: 5px;
          }
        }
      }
    }
  }
}
