.Homepage nav {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  left: 25px;
  top: 25px;
}

.Homepage nav a {
  color: #fff;
  text-decoration: none;
}

.Homepage nav a:focus {
  outline: none;
}

.Homepage nav a i {
  font-size: 20px;
}

.Homepage .Main {
  min-height: 100vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../../../src/images/main.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../../src/images/main.jpg");
  -webkit-box-shadow: 2px 2px 2px 2px black;
          box-shadow: 2px 2px 2px 2px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Homepage .Main .Main-Content {
  padding: 10px 35px;
}

.Homepage .Main .Main-Content h1,
.Homepage .Main .Main-Content p {
  color: #ececec;
  letter-spacing: 1px;
}

.Homepage .Main .Main-Content h1 {
  font-size: 80px;
  margin-bottom: 15px;
}

.Homepage .Main .Main-Content p {
  font-size: 20px;
  max-width: 1150px;
  line-height: 1.4;
}

.Homepage .GetInTouch,
.Homepage .GetInTouch2 {
  background: #867360;
  height: auto;
  color: #fff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 110px 30px;
  -webkit-box-shadow: 3px 3px 3px 6px grey;
          box-shadow: 3px 3px 3px 6px grey;
}

.Homepage .GetInTouch .GetInTouch-Content h3,
.Homepage .GetInTouch2 .GetInTouch-Content h3 {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1.4;
  margin-bottom: 40px;
  max-width: 950px;
}

.Homepage .GetInTouch .GetInTouch-Content a,
.Homepage .GetInTouch2 .GetInTouch-Content a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  background: #252525;
  border: none;
  border-radius: 4px;
  padding: 17px 50px;
  color: #fff;
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
  position: relative;
}

.Homepage .GetInTouch .GetInTouch-Content a:focus,
.Homepage .GetInTouch2 .GetInTouch-Content a:focus {
  outline: none;
}

.Homepage .GetInTouch .GetInTouch-Content a:hover,
.Homepage .GetInTouch2 .GetInTouch-Content a:hover {
  background: #fff;
  color: #252525;
}

.Homepage .GetInTouch .GetInTouch-Content a:hover:after,
.Homepage .GetInTouch2 .GetInTouch-Content a:hover:after {
  width: 45%;
  left: 55%;
}

.Homepage .GetInTouch .GetInTouch-Content a:after,
.Homepage .GetInTouch2 .GetInTouch-Content a:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  top: 50%;
  left: 0;
  border-top: 2px solid #252525;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
}

.Homepage .GetInTouch2 {
  background: #1d1d1d;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-top: 50px;
}

.Homepage .GetInTouch2 .GetInTouch-Content h3 {
  color: #c5a98e;
}

.Homepage .GetInTouch2 .GetInTouch-Content a {
  background: #dadada;
  color: #1d1d1d;
}

.Homepage .Service {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../../../src/images/watches1.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../../src/images/watches1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  -webkit-box-shadow: 3px 3px 3px 6px black;
          box-shadow: 3px 3px 3px 6px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 35px;
}

.Homepage .Service .Service-Inner {
  width: 100%;
  max-width: 1250px;
  padding: 15px;
}

.Homepage .Service .Service-Inner h1 {
  color: #dadada;
  text-transform: uppercase;
  margin-bottom: 45px;
  font-size: 30px;
  padding: 25px;
}

.Homepage .Service .Service-Inner .Service-Contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.Homepage .Service .Service-Inner .Service-Contents .Service-Content {
  width: calc(33.3333% - 10px);
  margin: 5px;
  padding: 25px;
  color: #dadada;
  text-align: center;
}

.Homepage .Service .Service-Inner .Service-Contents .Service-Content i {
  color: #c5a98e;
  font-size: 50px;
  margin: 15px 0;
}

.Homepage .Service .Service-Inner .Service-Contents .Service-Content h6 {
  color: #c5a98e;
  font-size: 20px;
  margin: 15px 0;
}

.Homepage .Service .Service-Inner .Service-Contents .Service-Content p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
}

@media only screen and (max-width: 925px) {
  .Homepage .Main .Main-Content h1 {
    font-size: 65px;
  }
  .Homepage .Main .Main-Content p {
    font-size: 17px;
  }
  .Homepage .Service .Service-Inner .Service-Contents .Service-Content {
    width: calc(50% - 10px);
  }
  .Homepage .Service .Service-Inner .Service-Contents .Service-Content i {
    font-size: 55px;
  }
  .Homepage .Service .Service-Inner .Service-Contents .Service-Content h6 {
    font-size: 18px;
  }
  .Homepage .Service .Service-Inner .Service-Contents .Service-Content p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 710px) {
  .Homepage .Main .Main-Content h1 {
    font-size: 45px;
  }
  .Homepage .Main .Main-Content p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 550px) {
  .Homepage .Main .Main-Content h1 {
    font-size: 40px;
  }
  .Homepage .Main .Main-Content p {
    font-size: 15.5px;
  }
  .Homepage .GetInTouch .GetInTouch-Content h3 {
    font-size: 22px;
  }
  .Homepage .GetInTouch .GetInTouch-Content a {
    font-size: 16.5px;
  }
}

@media only screen and (max-width: 450px) {
  .Homepage .Main .Main-Content h1 {
    font-size: 32px;
  }
  .Homepage .Main .Main-Content p {
    font-size: 14px;
  }
  .Homepage .Service .Service-Inner h1 {
    font-size: 25px;
  }
  .Homepage .Service .Service-Inner .Service-Contents .Service-Content {
    padding: 15px;
  }
  .Homepage .Service .Service-Inner .Service-Contents .Service-Content i {
    font-size: 50px;
  }
  .Homepage .Service .Service-Inner .Service-Contents .Service-Content h6 {
    font-size: 17.5px;
  }
  .Homepage .Service .Service-Inner .Service-Contents .Service-Content p {
    font-size: 13.5px;
  }
}
/*# sourceMappingURL=Homepage.css.map */