.Details {
  min-height: 100vh;
  background: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../../src/images/watches1.jpg");
  background: #1d1d1d;
  box-shadow: 3px 3px 3px 6px black;
  padding: 100px 25px;
  padding-bottom: 50px;

  .Details-Top {
    max-width: 950px;
    margin: auto;

    h1 {
      text-transform: uppercase;
      font-size: 40px;
      color: #c5a98e;
      margin-bottom: 25px;
    }

    p {
      color: #dadada;
      font-size: 17.5px;
      line-height: 1.5;
    }
  }

  .Details-Bottom {
    max-width: 1050px;
    margin: 75px auto;
    margin-bottom: 5px;

    .Details-Infos {
      .Details-Info {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 25px;

        .Inner-Info {
          width: calc(33.333333% - 20px);
          margin: 10px;

          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          img {
            width: 100%;
            border-radius: 4px;
          }

          p {
            color: #dadada;
            font-size: 27px;
            line-height: 1.5;
          }

          span {
            color: #c5a98e;
            margin: 0 5px;
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .Details {
    .Details-Bottom {
      .Details-Infos {
        .Details-Info {
          margin-bottom: 10px;

          .Inner-Info {
            width: calc(33.333333% - 10px);
            margin: 5px;

            p {
              font-size: 22px;
            }

            span {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .Details {
    .Details-Top {
      h1 {
        font-size: 30px;
      }

      p {
        font-size: 15px;
      }
    }

    .Details-Bottom {
      .Details-Infos {
        .Details-Info {
          .Inner-Info {
            width: calc(50% - 10px);
            order: 1;

            p {
              font-size: 18px;
              margin-bottom: 25px;
              line-height: 1.2;
            }

            span {
              font-size: 22px;
            }
          }

          .Info-Quote {
            width: 100%;
            order: 2;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .Details {
    .Details-Top {
      h1 {
        font-size: 25px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .Details {
    padding-bottom: 1px;

    .Details-Top {
      h1 {
        font-size: 20px;
      }

      p {
        font-size: 13.5px;
      }
    }

    .Details-Bottom {
      .Details-Infos {
        .Details-Info {
          .Inner-Info {
            width: calc(50% - 10px);
            order: 1;

            p {
              font-size: 15px;
              margin-bottom: 25px;
              line-height: 1.2;
              margin-bottom: 20px;
            }

            span {
              font-size: 18px;
            }
          }

          .Info-Quote {
            width: 100%;
            order: 2;
          }
        }
      }
    }

    // .Details-Bottom {
    //   .Details-Infos {
    //     .Details-Info {
    //       .Inner-Info {
    //         width: calc(100% - 10px);
    //         order: 1;

    //         p {
    //           font-size: 15px;
    //           margin-bottom: 25px;
    //           line-height: 1.2;
    //         }

    //         span {
    //           font-size: 18px;
    //         }
    //       }

    //       .Info-Quote {
    //         width: 100%;
    //         order: 2;
    //       }
    //     }
    //   }
    // }
  }
}
