.Details {
  min-height: 100vh;
  background: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../../../src/images/watches1.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../../src/images/watches1.jpg");
  background: #1d1d1d;
  -webkit-box-shadow: 3px 3px 3px 6px black;
          box-shadow: 3px 3px 3px 6px black;
  padding: 100px 25px;
  padding-bottom: 50px;
}

.Details .Details-Top {
  max-width: 950px;
  margin: auto;
}

.Details .Details-Top h1 {
  text-transform: uppercase;
  font-size: 40px;
  color: #c5a98e;
  margin-bottom: 25px;
}

.Details .Details-Top p {
  color: #dadada;
  font-size: 17.5px;
  line-height: 1.5;
}

.Details .Details-Bottom {
  max-width: 1050px;
  margin: 75px auto;
  margin-bottom: 5px;
}

.Details .Details-Bottom .Details-Infos .Details-Info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 25px;
}

.Details .Details-Bottom .Details-Infos .Details-Info .Inner-Info {
  width: calc(33.333333% - 20px);
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.Details .Details-Bottom .Details-Infos .Details-Info .Inner-Info img {
  width: 100%;
  border-radius: 4px;
}

.Details .Details-Bottom .Details-Infos .Details-Info .Inner-Info p {
  color: #dadada;
  font-size: 27px;
  line-height: 1.5;
}

.Details .Details-Bottom .Details-Infos .Details-Info .Inner-Info span {
  color: #c5a98e;
  margin: 0 5px;
  font-size: 30px;
}

@media only screen and (max-width: 1000px) {
  .Details .Details-Bottom .Details-Infos .Details-Info {
    margin-bottom: 10px;
  }
  .Details .Details-Bottom .Details-Infos .Details-Info .Inner-Info {
    width: calc(33.333333% - 10px);
    margin: 5px;
  }
  .Details .Details-Bottom .Details-Infos .Details-Info .Inner-Info p {
    font-size: 22px;
  }
  .Details .Details-Bottom .Details-Infos .Details-Info .Inner-Info span {
    font-size: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .Details .Details-Top h1 {
    font-size: 30px;
  }
  .Details .Details-Top p {
    font-size: 15px;
  }
  .Details .Details-Bottom .Details-Infos .Details-Info .Inner-Info {
    width: calc(50% - 10px);
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .Details .Details-Bottom .Details-Infos .Details-Info .Inner-Info p {
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.2;
  }
  .Details .Details-Bottom .Details-Infos .Details-Info .Inner-Info span {
    font-size: 22px;
  }
  .Details .Details-Bottom .Details-Infos .Details-Info .Info-Quote {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media only screen and (max-width: 600px) {
  .Details .Details-Top h1 {
    font-size: 25px;
  }
  .Details .Details-Top p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
  .Details {
    padding-bottom: 1px;
  }
  .Details .Details-Top h1 {
    font-size: 20px;
  }
  .Details .Details-Top p {
    font-size: 13.5px;
  }
  .Details .Details-Bottom .Details-Infos .Details-Info .Inner-Info {
    width: calc(50% - 10px);
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .Details .Details-Bottom .Details-Infos .Details-Info .Inner-Info p {
    font-size: 15px;
    margin-bottom: 25px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .Details .Details-Bottom .Details-Infos .Details-Info .Inner-Info span {
    font-size: 18px;
  }
  .Details .Details-Bottom .Details-Infos .Details-Info .Info-Quote {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
/*# sourceMappingURL=Details.css.map */